body{
    height: 100vh;
    width: 100vw;
    background: rgba(59, 70, 100, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 75vh;
    width: 25vw;
}
.display{
    height: 15vh;
    width: 25vw;
    border-radius: 1.5vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(24, 31, 50, 1);
    border: none;
    font-size: 5vh;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: right;
}


.datas{
    height: 53vh;
    width: 25vw;
    margin-top: 3vh;
    border-radius: 1.5vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(37, 45, 68, 1);
}
.contents{
    padding-top: 5vh;
    padding-left: 2vh;
}
.button{
    height: 6.5vh;
    width: 4.7vw;
    margin: 1.1vh;
    border-radius: 1.5vh;
    font-size: 3vh;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    background: rgba(234, 227, 219, 1);
    color: rgba(59, 70, 100, 1);
    border: none;
}
.buttonL{
    height: 6.5vh;
    width: 10.5vw;
    margin: 1.1vh;
    border-radius: 1.5vh;
    font-size: 3vh;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    background: rgba(234, 227, 219, 1);
    border: none;
}
#del{
    background: rgba(100, 114, 153, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}
#res{
    background: rgba(100, 114, 153, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}
#eq{
    background: rgba(209, 63, 48, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}

@media screen and (max-width: 725px){
    .button, .buttonL{
      font-size: 1.5vh;
    }
    .buttonL{
      height: 6.5vh;
      width: 20vw;
      margin: 0.7vh;
    }
    .button{
      margin: 0.7px;
    }
  }